.actual-section {
    width: 100%;
    height: 1200px; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 96px 0; 
    box-sizing: border-box; 
  }
  
  .actual-container {
    width: 1080px; 
    height: 1000px; 
    margin: 0 auto; 
    position: relative; 
    align-items: center;
  }
  
  .actual-sub-container {
    width: 1080px;
    align-items: center;
  }
  
  .actual-sub-container-1 {
    height: 100px; 
    position: relative; 
  }
  
  .actual-sub-container-2 {
    height: 702px; 
    /* margin-top: 44px;  */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
  }
  
  .actual-sub-container-3 {
    height: 203px; 
    /* margin-top: 44px; */
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  
  .actual-title-wrapper {
    display: flex; /* Flex для выравнивания изображения и текста */
    align-items: center; 
    position: absolute;
    top: 0;
    left: 453px; 
    width: 174px; 
  }
  
  .cosmos-icon {
    width: 24px; 
    height: 24px;
    margin-right: 10px;
  }
  
  .actual-title {
    font-size: 14px; 
    font-weight: 500; 
    color: #000000; 
    margin: 0; 
  }
  
  .top-title {
    font-size: 38px; 
    font-weight: 500; 
    color: #000000; 
    margin: 0; 
    position: relative;
    top: 40px; 
    text-align: center; 
  }
  
  .top-description {
    font-size: 16px; 
    font-weight: 400;
    color: #000000; 
    margin: 0; 
    position: relative;
    top: 70px; 
    width: 1080px; 
    height: 48px;
    text-align: center;
    line-height: 1.5; 
  }
  
  /* Стили для слайдера */
  .image-slider {
    width: 1000px; 
    height: 600px; 
    position: relative;
    perspective: 1000px; /* перспектива для 3D-эффекта */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cards-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2; /* Карточки поверх фона */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 600px; 
    height: 400px;
    position: absolute;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Плавная анимация */
    box-shadow: none; 
    padding: 0;
    border-radius: 20px; 
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 20px; 
    display: block; 
    border: none; 
  }
  
  .card.center .card-image {
    border: none; 
  }
  
  .card-content {
    position: absolute;
    bottom: 30px; 
    left: 20px;
    color: #ffffff; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
  }
  
  .card-title {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 10px 0;
  }
  
  .card-description {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }
  
  .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); 
    color: #ffffff; 
    border: none;
    border-radius: 50%; 
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    z-index: 3; /* Кнопки поверх карточек */
  }
  
  .slider-button:hover {
    background-color: rgba(0, 0, 0, 0.8); 
  }
  
  .slider-button.prev {
    left: 20px;
  }
  
  .slider-button.next {
    right: 20px;
  }
  
  /* Стили для третьего подконтейнера */
  .sub-container-3-content {
    width: 640px;
    height: 203px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    background-color: rgba(240, 255, 209, 0.8); 
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Эффект размытия фона */
    -webkit-backdrop-filter: blur(10px); /* Для поддержки в старых браузерах */
  }
  
  .sub-container-3-title {
    font-size: 29px; 
    font-weight: 500;
    color: #000000; 
    /* margin: 30px 0;  */
    text-align: center; 
  }
  
  .sub-container-3-subtitle {
    font-size: 16px;
    font-weight: 500;
    color: #000000; 
    margin: 0 0 20px 0; 
    text-align: center; 
  }
  
  .sub-container-3-button {
    padding: 12px 24px;
    font-size: 16px; 
    font-weight: 500; 
    color: #ffffff; 
    background-color: #000000; 
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавный переход при наведении */
  }
  
  .sub-container-3-button:hover {
    background-color: #333333; /* Темнее при наведении */
  }